<h2>Sandwiches list</h2>
<section>
    <form [formGroup]="searchForm">
        <select formControlName="sort">
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>
        <select formControlName="order">
            <option value="asc">Ascending</option>
            <option value="dsc">Descending</option>
        </select>
        <input type="text" formControlName="query">
        <button type="button" (click)="find()">Find</button>
    </form>
</section>
<article>
    <wsb-sandwich-item *ngFor="let sandwich of sandwiches | async" [sandwich]="sandwich"></wsb-sandwich-item>
</article>